{{zmienna}}
<ul>
  <li *ngFor = "let rzecz of lista_rzeczy">
    {{rzecz}}
  </li>
</ul>
<p>lista zawiera {{lista_rzeczy.length}}</p>
<form action="">
  <label for="rzeczdodana">
    Wpisz rzecz do dodania
  </label>
  <input type="text" id="rzeczdodana" name="rzeczdodana"
  [(ngModel)]="wpisana_rzecz"
  >
  <button type="button" (click)="dodaj()">
    dodaj rzecz</button>
</form>
<hr>
<ol>
  <li *ngFor="let rzecz of lista_obiektow"
  (click)="wypisz_szcz(rzecz)"
  >
    {{rzecz.tytul}}
  </li>
</ol>
{{czyWybrano}}
<div *ngIf="czyWybrano">
  Wybrana rzecz
  <h3>{{wybranarzecz.tytul}}</h3>
  <p>{{wybranarzecz.opis}}</p>
  <button type="button" (click)="polub()">
    {{
      wybranarzecz.polubienia == 0 ? 
      "Polub": "Polubienia "+wybranarzecz.polubienia
    }}
  </button>
  <button type="button" (click)="polub()">
    
    <span *ngIf="wybranarzecz.polubienia">
    Polubienia: {{wybranarzecz.polubienia}}
  
  </span>

  </button>
</div>

Nowy komponent:
<app-szczeg [rzecz]="wybranarzecz">

</app-szczeg>

<form action="" (ngSubmit) = "dodaj_do()">
  <label for="tytul1">Podaj tytuł</label>
  <input type="text" id="tytul1" 
  name="tytul1" [(ngModel)] = "tytuldodawany">
  <br>
  <label for="opis1">Podaj opis</label>
  <input type="text" id="opis1" name="opis1"
  [(ngModel)]="opisdodawany">
  <button type="submit">Dodaj do listy</button>
</form>